.header {
    display: flex;
    align-items: center;
    color: var(--white);
    margin-top: 35px;
}

.header__site-name {
    text-transform: uppercase;
    margin-right: 5px;
    font-size: xx-large;
    font-style: italic;
    position: relative;
}

.header__site-info {
    text-transform: uppercase;
    font-size: 9px;
}

.header .header__site-logo1 {
    position: absolute;
    top: -49px;
    left: -1px;
}