.main-play {
    font-size: 30px;
    background-color: var(--yellow-opacity);
    color: var(--white);
    position: absolute;
    top: calc(40% - 17px);
    left: calc(40% - 10px);
    text-align: center;
    line-height: 30px;
    padding: 20px;
    border-radius: 70px;
}