.services {
    background-color: var(--white);
}

.services .services__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.services .services__list-item {
    width: 35%;
    text-align: center;
    padding: 30px 0;
}

.services .services__list-item:first-child {
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.services .services__list-item:last-child {
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
}

.services .fas,.fab {
    color: var(--yellow);
    font-size: 60px;
}

.services .services__item-name {
    text-transform: uppercase;
    color: var(--black);
}